cluster_name    = "meu-cluster-dev"
cluster_region  = "nyc1"
cluster_version = "1.24.4-do.0"
cluster_tags    = ["k8s", "meu-cluster-k8s"]
cluster_node_pool = {
  name  = "default-node-pool"
  size  = "s-1vcpu-2gb"
  count = 1
  labels = {
    role = "default-node-pool"
  }
  tags = ["default-node-pool"]
  taints = [
    {
      key    = "dedicated"
      value  = "default-node-pool"
      effect = "NoSchedule"
    }
  ]
}